nav.uk-navbar-container(uk-navbar)
    div.uk-navbar-left
        ul.uk-navbar-nav
            li.uk-active
                a(href='/') Home
            li
                a(href='/hindu') Hindu
            li
                a(href='/nyctimes') New York Times
            li
                a(href='/bbc') BBC